worker_processes auto;

error_log Log\Info.log info;
error_log Log\Warn.log warn;
error_log Log\Error.log error;

pid Log\Nginx.pid;

events
{
	worker_connections 4096;
	multi_accept on;
}

http
{
	client_body_temp_path E:\CynFox\Temp\ClientBodyTemp;
	proxy_temp_path E:\CynFox\Temp\ProxyTemp;
	fastcgi_temp_path E:\CynFox\Temp\FastCGITemp;
	uwsgi_temp_path E:\CynFox\Temp\UWSGITemp;
	scgi_temp_path E:\CynFox\Temp\SCGITemp;

	client_max_body_size 4G;
	client_body_buffer_size 256k;

	log_format custom '$remote_addr - $remote_user [$time_local] ' '"$request" $status $body_bytes_sent ' '"$http_referer" "$http_user_agent" ' 'request_time=$request_time';

	access_log Log\Access.log custom;

	limit_req_zone $binary_remote_addr zone=req_limit_per_ip:10m rate=10r/s;
	limit_conn_zone $binary_remote_addr zone=conn_limit_per_ip:10m;

	client_body_timeout 32s;
    client_header_timeout 16s;
    
    keepalive_timeout 4s 4s;
    send_timeout 16s;

	server
	{
		listen 80;

		limit_req zone=req_limit_per_ip burst=20 nodelay;
		limit_conn conn_limit_per_ip 20;

		location /
		{
			root E:\CynFox\Root;

			index Index.html;
		}

		location ~ \.php$
		{
			root E:\CynFox\Script;

			try_files $uri @PHPFallback;

			include fastcgi_params;

			fastcgi_pass 127.0.0.1:9000;
			fastcgi_index Index.php;
			fastcgi_param SCRIPT_FILENAME $document_root$fastcgi_script_name;
		}

		location @PHPFallback
		{
			root E:\CynFox\Root;

			default_type text/plain;
			try_files $uri =404;
		}

		location /Chat/
		{
			root E:\CynFox\Root;

			index /Chat/Index.html;

			proxy_buffering off;
			proxy_read_timeout 24h;
			proxy_http_version 1.1;
		}
	}
}